@font-face {
  font-family: sfb;
  src: url("./fonts/SanFranciscoDisplay-Bold.otf") format("opentype");
}

@font-face {
  font-family: sf;
  src: url("./fonts/SanFranciscoDisplay-Regular.otf") format("opentype");
}
#outer {
  width: 90%;
  max-width: 900px;
  margin: 2rem auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: sf;
}
#white,
#black {
  width: 95%;
  margin: 2rem auto;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.center {
  position: relative;
  width: 20%;
  margin: 1rem 40%;
}
#actions {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex: 0 1 20%;
}

#actions > button,
.dropdown {
  margin: 1rem 0;
}
svg {
  position: relative;
  z-index: 10;
}
